
<div class="container d-flex">

  <%= link_to 'Find a Charger', customers_path, class: 'btn btn-primary mx-auto' %>

</br>

  <%= link_to 'Lend a Charger', owners_path, class: 'btn btn-primary mx-auto' %>

</div>
