<h2>PowerBanker has sent you an email!</h2>


<p>Customer: <%= @contact_name %></p>
<p>Email: <%= @email %></p>

<p>
  Thank you for using PowerBaker.
<br/>
  Your Transaction ID is: <%= @message %>
</p>
