@import "bootstrap";
@import "home";
@import "owners";


html {min-height: 100%;}


body {
    background-color: #fff;
    background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
}

.navbar-brand {
  color:white;
}

.nav-link {
  color:white;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttons {
  margin-top: 150px;
}

.btn-primary {
  background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
}

.trans-sent {
  margin-top: 200px;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.message-float {
  width: 100%;
}

.center-form {
  text-align: center;
  color: white;
}

.form-width {
  width: 400px;
}
.login-form {
  transform: translate(0%, 50%);
}
