// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.image {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 50%;
  margin-right: 5rem;
}

.profile-post {
  height: 310px;
  object-fit: cover;
  max-width: 32.3333333333%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2px;
}

ul {
  padding-left: 0px;
  list-style: none;
}
